{{- if .Values.openshift.enabled }}
apiVersion: resource.k8s.io/v1beta1
{{- else }}
apiVersion: resource.k8s.io/v1
{{- end }}
kind: DeviceClass
metadata:
  name: gaudi.intel.com

spec:
  selectors:
  - cel:
      expression: device.driver == "gaudi.intel.com"
  {{- if .Values.enableDRAExtendedResources }}
  # Available in K8s v1.34 requires feature gate enabled
  # See https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/5004-dra-extended-resource
  extendedResourceName: {{ .Values.extendedResourceName }}
  {{- end }}
