apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: two-gaudi3
spec:
  spec:
    devices:
      requests:
      - name: gaudi
        exactly:
          deviceClassName: gaudi.intel.com
          count: 2
          selectors:
          - cel:
              expression: device.attributes["gaudi.intel.com"].model == 'Gaudi3'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gaudi-test
  labels:
    app: inline-gaudi-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inline-gaudi-deployment
  template:
    metadata:
      labels:
        app: inline-gaudi-deployment
    spec:
      containers:
      - name: with-resource
        image: registry.k8s.io/e2e-test-images/busybox:1.29-2
        command: ["sh", "-c", "ls -la /dev/accel/ && sleep 300"]
        resources:
          claims:
          - name: resource
      - name: without-resource
        image: registry.k8s.io/e2e-test-images/busybox:1.29-2
        command: ["sh", "-c", "ls -la /dev/ && sleep 300"]
      resourceClaims:
      - name: resource
        resourceClaimTemplateName: two-gaudi3
