name: Build all targets

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        target:
          - gaudi-container-build
          - gpu-container-build
          - qat-container-build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build
        env:
          TARGET_NAME: ${{ matrix.target }}
        run: make ${TARGET_NAME}
