name: Run lint and tests

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  test-containerized:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build test image
      run: make test-image
    - name: Run lint in container
      run: make lint-containerized
    - name: Run tests in container
      run: TEST_TARGET=coverage-check make test-containerized
